@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply min-h-screen overflow-x-hidden;
}
body {
  @apply flex flex-col items-center justify-center gap-12 bg-gradient-to-tr from-indigo-950 via-indigo-900 to-indigo-800 bg-cover bg-scroll bg-no-repeat p-4 py-8 text-neutral-200 md:p-12;
}

@layer utilities {
  .glass {
    @apply bg-white bg-opacity-10 backdrop-blur-sm;
  }
}

@layer components {
  /* ====================================== Buttons ====================================== */
  .btn {
    @apply rounded-3xl font-semibold capitalize shadow-neutral-500 duration-100 ease-in-out hover:scale-105 hover:shadow-md active:scale-100;
  }
  /* Size */
  .btn-sm {
    @apply px-2.5 py-2 text-base;
  }
  .btn-md {
    @apply px-5 py-2 text-lg;
  }
  .btn-lg {
    @apply px-6 py-3 text-xl;
  }
  /* Mod */
  .btn-primary {
    @apply bg-pink-500 text-white;
  }
  .btn-secondary {
    @apply glass hover:bg-opacity-20;
  }
  .btn-success {
    @apply bg-green-400 text-white;
  }
  .btn-danger {
    @apply bg-white text-red-400 outline outline-2 outline-red-400 hover:bg-red-400 hover:text-white hover:outline-none;
  }
  /* ====================================== Headings ====================================== */
  .heading-1 {
    @apply text-3xl font-semibold md:text-4xl  lg:text-5xl;
  }
  .heading-2 {
    @apply text-xl font-semibold md:text-2xl lg:text-3xl;
  }
  .heading-3 {
    @apply text-lg font-semibold lg:text-xl;
  }
}

/* Custom scrollbar */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #ccddf4 transparent;
}
.custom-scroll::-webkit-scrollbar {
  width: 10px;
  width: 10px;
}
.custom-scroll::-webkit-scrollbar-track {
  border-radius: 5px;
  background-color: transparent;
}
.custom-scroll::-webkit-scrollbar-track:hover {
  background-color: #ccddf4;
}
.custom-scroll::-webkit-scrollbar-track:active {
  background-color: #ccddf4;
}
.custom-scroll::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #ccddf4;
}
.custom-scroll::-webkit-scrollbar-thumb:hover {
  background-color: transparent;
}
.custom-scroll::-webkit-scrollbar-thumb:active {
  cursor: grabbing;
  background-color: #ccddf4;
}
